
@using MyApplication.Models;


@{
    ViewBag.Title = "Index";
}
<html>
<body style="background:url('../../Content/wall.jpg');background-size:cover!important">
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script>
        $(document).ready(function () {
            var value = 0;
            $("#isParkingAvailable").prop("disabled", true);
            $("#parkSlotId").change(function () {
                if ($("#parkSlotId").val() != "Select") {
                    var MakerOptions = {};
                    MakerOptions.url = "/Parking/Availability";
                    MakerOptions.type = "POST";
                    MakerOptions.data = JSON.stringify({ Maker: $("#parkSlotId").val() });
                    MakerOptions.datatype = "json";
                    MakerOptions.contentType = "application/json";
                    MakerOptions.success = function (ModelList) {
                        $("#isParkingAvailable").empty();
                        for (var i = 0; i < ModelList.length; i++) {
                            value = ModelList[0];
                            $("#isParkingAvailable").append("<option>" + ModelList[i] + "</option>");
                        }
                        $("#isParkingAvailable").prop("disabled", false);
      
                    };
                    MakerOptions.error = function () { alert("Error in Getting Model!!"); };
                    $.ajax(MakerOptions);
                }
                else {
                    $("#isParkingAvailable").empty();
                    $("#isParkingAvailable").prop("disabled", true);
                }
            });

            $("#parkSlotId").change(function () {

                if (value > 0) {
                    $(":submit").attr("disabled", true);
                }
                else {
                    $(":submit").attr("disabled", false);
                }


            });
        });



    </script>

    <style>
        #content {
            background-color: aquamarine;
            background-size: 1080px 720px;
            background-repeat: no-repeat;
        }

        #content-info {
            padding: 50px;
        }

        .title {
            float: left;
        }

        .valueContainer {
            position: relative;
            padding-left: 15px;
            text-indent: 6em;
        }

        .labelContainer {
            padding-left: 15px;
        }

        #submit-button {
            padding-top: 15px;
        }
    </style>

    @using (Html.BeginForm("Parking", "Parking", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
   <!-- <div id="content" style="height:700px;"> -->
        <div id="content-info">
            <center>
                <b style="color:antiquewhite"><h1>JUST PARK </h1> </b>
                <b style="color:aqua"><h2>Find Parking in Seconds</h2></b>
            </center>
            <!--  <img src="~/Content/Images/cars3.jpg" width="1200" height="700" /> -->
            <hr />
            @Html.ValidationSummary()
            <div class="form-group">
                <b style="color:black",font-size: 500px>
                    @Html.Label("SELECT LOCATION :", new { @class = "col-md-2 control-label" })
                </b>
                <div class="col-md-10">
                    @Html.DropDownList("parkSlotId", ViewData["parkSlotId"] as SelectList, new { @class = "form-control" })
                </div>
            </div><br />
            <div class="form-group">
                <b style="color:black">
                    @Html.Label("AVAILABLE :", new { @class = "col-md-2 control-label" })

                </b>
                <div class="col-md-10">
                    <select id="isParkingAvailable" , name="isParkingAvailable"></select>
                </div>
            </div>
            <br>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
               <center><p id="submit-button"> <input type="submit" class="btn btn-default" value="Reserve One" /> </p>
                    </center>
                </div>
            </div>



        </div>
    <!--</div>-->

    }
</body>
</html>